.card {
  position: relative;
}
.card img {
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #fff;
  display: block;
  width: 100%;
  transition: 0.3s;
}
.card img:hover {
  border-color: rgb(194, 56, 102);
  box-shadow: rgba(18, 148, 255, 0.5) 0px 2px 8px 0px;
}

/* Front of card - the picture */
.front {
  position: absolute;
  transform: rotateY(90deg);
  transition: transform 0.2s ease-in;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.flipped img {
  cursor: not-allowed;
}

/* Back of the card - cover */
.back {
  transition: transform 0.2s ease-in;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
